.nav-bar > p {
    font-size: 1rem ;
    font-weight: bold;    
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
img{    
    height: 4rem;
    width: 4rem;
    vertical-align:middle;
}
.bottom-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.bottom-nav-bar > button{
    background-color: #777777;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.3125rem;
    height: 2rem;
}

.page-info{
    display: inline-block;
    vertical-align: middle;
}
.student-list-header{
    display: flex;
    justify-content: space-between;
}
.student-list-header > button{
    background-color: rgb(55, 94, 250) ;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.3125rem;
    height: 2rem;
}

tbody:nth-child(odd){
    background-color: rgba(43, 64, 226, 0.25);
}
td > button{
    color: #FFFFFF;
    border: 0;
    border-radius: 0.3125rem;
    width: 5rem;
    height: 2rem;
}

td >button:nth-child(1){
    background-color: red;
}
td >button:nth-child(2){
    background-color: blue;
}
td >button:nth-child(3){
    background-color: green;
}

.student-list{
    width: 100%;
}
.table-header{
    background-color: #EEE;
}
th,td{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-buttons > button {
    
    border: solid black 0.08rem;
    border-radius: 0.3125rem;
    margin: 0.25rem;

}
.limiter-buttons{

    display: flex;
}
.limiter-buttons > button{

    border: solid rgb(0, 72, 255);
    color: rgb(0, 72, 255);
    width: 2rem;
    padding: 0;
    margin: 0;
}
.limiter-buttons > button:nth-child(1){
    border-top-left-radius: 0.3125rem;
    border-bottom-left-radius: 0.3125rem;
    /*initial colors for first limiter button*/
    background-color: blue;
    color: white;
}
.limiter-buttons > button:nth-child(2){
    border-left: 0;
    border-right: 0;
    width: 1.8rem ;
}
.limiter-buttons > button:nth-child(3){
    border-top-right-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}

@media screen and (max-width: 992px) {
    tr > th:nth-child(3) {
        display: none;
    }
    tr > td:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    tr > th:nth-child(2) {
        display: none;
    }
    tr > td:nth-child(2) {
        display: none;
    }
}