.container{
    align-items: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.productImg{
    width: 50%;
}
.Img{
    width: 100%;
    align-items: center;
}
.fa-solid fa-star{
    font-size: 10px;
    width: 22%;
    position: absolute;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 20px;
    background-color: #eee;
    padding: 5px;
}
.orange{
    color: orange;
}
.tableInfo{
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hr{
    width: 85%;
}
.productInfo{
    background-color: rgb(230, 229, 229);
    width: 50%;
    margin:0;
    
}

.title{
    margin-bottom: 0%;
    font-size: large;
}
.blue{
    color: rgb(50, 50, 199);
    font-size: large;
    margin-top: 0%;
}
.starandprice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{

    font-size: x-large;
    font-weight: bolder;
}
.TL{
    font-size: large;
    font-weight: bolder;
    display: flex;
}
.evaluation{
    font-size: x-large;
    font-weight: lighter;
}
.bold{
    font-weight: bolder;
    color: black;
}
.seller{
    border-radius: 5px;
    padding: 1%;
    color: rgb(158, 153, 153);
    background-color: white;
}
.div_btn{
    display: inline-flex;
    align-items: center;
}
.smallblue{
    color: rgb(50, 50, 199);
}
.btnpuan{
    background-color: rgb(52, 146, 37);
    color: white;
    border-radius: 10px;

}
.green{
    color: rgb(52, 146, 37);
}
.btnKampanya{
    border-radius: 50%;
    background-color: rgb(244, 112, 11);
    color: white;
    border-color:rgb(244, 112, 11);

}
.btn1{
    background-color: rgb(176, 172, 172);
    font-size: large;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color:rgb(176, 172, 172) ;
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}
.btn2{
    border-color:rgb(176, 172, 172) ;
    width: 50px;
    height: 50px;
}
.btn3{
    background-color: rgb(176, 172, 172);
    font-size: large;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color:rgb(176, 172, 172) ;
    width: 50px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
.btn1:hover{
    cursor: pointer;
}


.divkargo{
    display: flex;
    justify-content: space-around;
    
}

.btnSepet{
    background-color:rgb(244, 112, 11);
    color: white;
    width:150px;
    height: 50px ;
    border-radius: 20px;
    border-color:rgb(244, 112, 11); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn1:hover{
    cursor: pointer;
}
.btnSepet:hover{
    cursor: pointer;
}
.orange{
    color: rgb(244, 112, 11);
    font-size: large;
}
.gray{
    color: rgb(144, 139, 139);
    font-size: large;
}
.white{
    color: white;
}
.btnsepeteEkle{
    background-color:rgb(244, 112, 11);
    border-color: rgb(244, 112, 11);
    border-radius: 20px;
    color: white;
    display: flex;
}
.btnsepeteEkle:hover{
    cursor: pointer;
}
.divchange{
    border-color: rgb(105, 83, 140);
    border-radius: 20px;
    background-color: rgb(227, 168, 232);
    text-align: center;
    height: 40px;
}
.btnSoru{
    font-weight: bold;
    border-radius: 50%;
    width: 50 px;
    background-color: rgb(202, 199, 199);
}
.btnFaydalan{
    border-radius: 10px;
}
.icons{
    display: flex;
    padding-left:2% ;
}
.deliveryOption{
    background-color: white;
    border-radius: 20px;
}

.btnKonum{
    color: rgb(244, 112, 11);
    background-color: rgb(235, 192, 123);
    border-radius: 20px;
    border-color: rgb(235, 192, 123);
}
.btnKonum:hover{
    cursor: pointer;
}

.divSaticiPuanı{
    color: white;
    display: flex;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(3, 167, 3);
    justify-content: center;
}
.saticiIsmi{
    color: blue;
    background-color: white;
    display: flex;
}
.flexContainer{
    display: flex;
}
.flexContainer2{
    display: flex;
}
.divOtherSeller{
    background-color: white;
    width: 100%;
    border-radius: 20px;
    border-color: gray;
}
.hrbig{
    width: 90%;
}
/*RESPONSIVE_DESIGN*/
@media screen and (max-width: 992px) {
    .hr{
        display: none;
        visibility: hidden;
    }
    .green{
        display: none;
        visibility: hidden;
    }
    .taksit{
        align-items: center;
        text-align: center;
    }
    .title{
        display: none;
        visibility: hidden;

    }
    .blue{
        display: none;
        visibility: hidden;
    }
}
@media screen and (min-width: 992px) {
    .hrbig{
        display: none;
        visibility: hidden;
    }

}