@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  * {
    margin: 0;
    padding: 0;
  }
  .recipes {
    padding-top: 2%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
    background-color:lightgray;
    text-align: center;
    border-radius: 5px;
    height: 500px;
    align-items: center;
  }
  .title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }
  .flex-container {
    display: flex;
  }
  .div1{
    position: relative;
    left: 15px;
    right: 15px;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-right: 20px;
    height: 290px;
    width: 45%;
    border-radius: 10px;
    background-color:white;
    text-align: left;
    box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px rgb(130, 127, 127) 
  }
  .div2{
    position: relative;
    left: 15px;
    right: 15px;
    flex-direction: column;
    align-items: left;
    justify-content: right;
    margin-right: 20px;
    height: 290px; 
    width: 45%;
    border-radius: 10px;
    background-color:white;
    text-align: left;
    box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px rgb(130, 127, 127)
  }
  .picture1 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    width: 100%;
    height: 230px;
  }
  .picture2 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    width: 100%;
    height: 230px;
  
  }
  .name {
      display: inline-block;
      flex-direction: column;
      justify-content: left;
      margin-left: 10px;
  }
  .author1{
    color: gray;
      display: block;
      flex-direction: column;
      justify-content: left;
      border-radius: 10px;
      text-align: left;
  
  }
  .author2{
    color: gray;
      display: block;
      flex-direction: column;
      justify-content: left;
      border-radius: 10px;
      text-align: left;
  }
  .btn1{
    position: absolute;
    left: 80%;
    top: 81%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
    width: 15%;
    height:40px;
    color: blue;
    border-color: blue;
    background-color:white;
    border-radius: 20%;
    cursor: pointer;
  }
  .btn2{
    position: absolute;
    left: 80%;
    top: 81%;
    display: inline-block;
    justify-content: right;
    margin-right: 10px;
    border-radius: 10px;
    width: 15%;
    height:40px;
    color: blue;
    border-color: blue;
    background-color:white;
    border-radius: 20%;
    cursor: pointer;
  
  }
  .btn1:hover{
    cursor: pointer;
    background-color: #207126;
    border-color: #207126;
    color: white
  }
  .btn2:hover{
    cursor: pointer;
    background-color: #207126;
    border-color: #207126;
    color: white
  }
  .icon-container {
    font-size: 10px;
    width: 22%;
    position: absolute;
    color: black;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 20px;
    background-color: #eee;
    padding: 5px;
  }