/*Dark theme settings are here for dark theme*/
.calculator {
    border: solid white;
    background-color: #333333;
}

.head-container {
    color: white;
}

.screen-container {
    border: solid white 0.3rem;
    
    color: white;
    background-color: #1476B3;
}

.btn {
    color: white;
    background-color: #555555;
}
.btn:hover {
    background-color: #939393;
}
.btn-equal {
    background-color: #1476B3;
}
